@charset "UTF-8";
/* Cor01: #282c34d2 cor02: 30caf5
*/                
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Comfortaa&display=swap');
:root{
       --corfundo: #282c34d2;
       --cordestaque: #30caf5;
       --cortexto: white ;
       
       --font-padrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


body{
    font-family: var(--font-padrao);
    background-color: var(--corfundo);
    width: 100%;
    margin-left: -10px;
    margin-right: -10px;
}

header > h1{
    font-family: var(--font-padrao);
    color: var(--cordestaque);
    background-color: var(--corfundo) ;
    margin: -10px -10px 0px -10px;
    font-weight: bold;
}

header{
text-align: center;
}

nav{
    height: 40px;
    background-color: var(--corfundo);
    margin: 0px -10px;
    height: 40px;
    padding-top: 20px;
    box-shadow: 0px 17px 10px 0px var(--cordestaque);
    }

nav > a {
    display: inline
    ;
    text-decoration: none;
    font-family: var(--font-padrao);
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
    color: var(--cortexto);
    padding-right: 6%;
    padding-left: 6%;
    padding-top: 6px;
    padding-bottom: 6px;
    transition-duration: .7s;
    margin-left: 28px;
    
}

nav > a:hover{
    background-color: rgb(136, 133, 133);
}
h2{
    color: var(--cordestaque);
    text-decoration: dotted;
    margin-left: 50px;
    margin-top: 66px;
    margin-bottom: 30px;
    font-family: 'Comfortaa', cursive;
}

p{
    text-align: justify;
    text-indent: 30px;
    font-weight: 400;
    color: var(--cortexto) ;
    margin-left: 50px;
    font-size: 1.06em;
    margin-right: 30px;
}

p > a {
    text-decoration: none;
    color: aquamarine;
}

.box{
    border: 1px 1px 1px 1px var(--corfundo);
}
span#react{
    color: var(--cordestaque);
}

h2.titulo{
    font-size: 2em;
    text-align: center;
    color: var(--cortexto);
    margin-right: 40px;
    margin-bottom: 50px;
}

iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.embed{
 position: relative; 
 padding-bottom: 300px; 
 overflow: hidden; 
 max-width: 500px; 
 height: 100%;
 margin: 0px auto;
}

.embed iframe, .embed object, .embed embed{
 position: absolute; 
 top: 0; 
 left: 5%; 
 width: 100%; 
 height: 300px; 
}

span > img{
    width: 20%;
    height: 20%;
}

.metade{
    display: inline;
    text-align: center;
}

.img{
    margin-right: 20%;
    margin-bottom: 50px;
}

div#v{
    height: 100%;
}

h2.imagem{
    background-image: url(imagens/images\ \(1\).jpg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2em;
    text-align: center;
    margin-right: 40px;
    margin-bottom: 30px;
}

ul{
    font-size: 1.3em;
    color: var(--cortexto);
    font-weight: bold;
    display: inline;
    padding-bottom: 30px;
}

li{
    text-align: center;
    margin-right: 50px;
}

div#texto{
    margin: 50px;
}

.dados{
    color: var(--cortexto);
    margin-left: 20px;
    margin-top: 10px;
    font-family: var(--font-padrao);
}

.dados > a {
    color: var(--cortexto);
}

.dados > a:hover{
    color: aquamarine;
}

.boxx{
    text-align: center;
    margin-top: 110px;
}
